@font-face {
    font-family: 'Modern Face Modern Face';
    src: url('ModernFace-Bold.woff2') format('woff2'),
        url('ModernFace-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Modern Face';
    src: url('ModernFace-Light.woff2') format('woff2'),
        url('ModernFace-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Modern Face';
    src: url('ModernFace-Regular.woff2') format('woff2'),
        url('ModernFace-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

